<div class="container">
  <div class="row">
    <%= simple_form_for(@custom_invest) do |f| %>
    <%= f.input :name, label:"Nom"  %>
    <%= f.input :category, label:"Category" %>
    <%# <%= f.input :description, label:"Description" %> %>
    <%= f.input :quantity, label:"Quantity" %>
    <%= f.input :unity_cost, label:"unity_cost" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Créer mon annonce", class: "btn-form"%>
    <% end %>
  </div>
</div>
