

<%# Container %>
<div class="container">
  <div class="cards">
    <%if params[:query] == nil%>
    <div class="card">
      <%= link_to "", new_custom_invest_path, class: "add-bot"%>
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1668769399/samples/cloudinary-icon.png" alt="" class="card__img card__img--full">
      <div>
        <p><i class="fa-solid fa-plus"></i></p>
      </div>
    </div>
    <% end %>

    <% @custom_invests.each do |custom_invest| %>
    <div class="card">
          <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div>
            <% if custom_invest.photo.key  %>
              <%= cl_image_tag custom_invest.photo.key, class:"card__img" %>
            <% end %>
              <%#= cl_image_tag custom_invest.photo.key, class:"card__img", crop: :fill %>
            </div>
          </div>
            <div class="swiper-slide" id="descrip">
              <h2>Détails</h2>
              <p>Type : <%= custom_invest.category %></p>
              <p>Quantity : <%= custom_invest.quantity %> u</p>
              <p>Unity_cost : <%= custom_invest.unity_cost %> $</p>
              <p>Actual_cost : <%= custom_invest.actual_cost %> $</p>

             <% if custom_invest.actual_cost && custom_invest.unity_cost %>
              <p>Gain : <%= custom_invest.gain %> $</p>
             <% end %>
            </div>
            <div class="swiper-slide" id="descrip">
              <h2>Description</h2>
              <p><%= custom_invest.description %></p>

            </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="bottom-card">
            <%# <%= link_to custom_invest_path(custom_invest), class:"card__link" do %>
            <p><strong><%= custom_invest.name %></strong></p>
            <p>
            <%= link_to edit_custom_invest_path(custom_invest) do %>
            <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            </p>
            <p>
            <%= link_to custom_invest_path(custom_invest), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }  do %>
            <i class="fa-solid fa-trash"></i>
            <% end %>
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div id="total" style="background: #606679;">
      <h3>Recapitulatif</h3>
      <p>Total Gains : <%= CustomInvest.all_gain %> $</p>
      <p>Total Unity_cost : <%= CustomInvest.all_unity_cost %> $</p>
      <p>Total Actual_cost : <%= CustomInvest.all_actual_cost %> $</p>
      </div>
    </div>
  </div>
</div>


<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  loop: true,

  // pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
