<div class="contain" style="padding-top: 40px;">
  <div class="show-card">
    <div class="show-card__top">
      <div class="show-card__img">
      </div>
      <div class="show-card__text">
        <div>
          <h2><%= @custom_invest.name%> - <%= @custom_invest.category %></h2>
          <p><%= @custom_invest.description %></p>
          <p>Quantity : <%= @custom_invest.quantity %> u</p>
          <p>Unity_cost : <%= @custom_invest.unity_cost %> $</p>
          <p>Actual_cost : <%= @custom_invest.actual_cost %> $</p>
          <p><%= @custom_invest.unity_cost_all %></p>
          <div class="show-card__action">
            <div>
              <%= link_to "edit", edit_custom_invest_path, class: "btn-medium" %>
              <%= link_to 'delete', custom_invest_path(@custom_invest), class:"btn-medium", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }  %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="show-card__bottom" style="width: 100%; height: 400px;">
    </div>
  </div>
  <div>
    <div id="reservation">
      <%= link_to "Retour", :back, class: "btn-retour" %></div>
    </div>
  </div>
</div>
