


<header>
  <nav class="nav-main">
    <div>
    <ul>
      <li><%= image_tag "https://res.cloudinary.com/dezfv3vmn/image/upload/v1670506228/development/MI_xerwzg.png", class: "toggle-side-nav avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></li>
      <li id="with"><%= link_to "/" do %>
        <i class="fa-solid fa-gauge"></i>
        <% end %>
      </li>
      <li id="yellow"><%= link_to cryptos_path do %>
        <i class="fa-solid fa-database"></i>
        <% end %>
      </li>
      <li id="pink"><%= link_to real_estates_path do %>
        <i class="fa-solid fa-house"></i>
        <% end %>
      </li>
      <li id="blue"><%= link_to custom_invests_path do %>
        <i class="fa-solid fa-download"></i>
        <% end  %>
      </li>
      <li id="red"><%= link_to bank_accounts_path do %>
        <i class="fa-solid fa-piggy-bank"></i>
        <% end %>
      </li>
      <li id="green"><%= link_to liabilities_path do %>
        <i class="fa-solid fa-clipboard"></i>
        <% end %>
      </li>
      <li><a href="#">
        +</a>
        <ul class = "add-form">
          <li id = "bank"><%= link_to "Bank-account", new_bank_account_path %></li>
          <li id = "crypto"><%= link_to "Crypto-wallet", new_crypto_path %></li>
          <li id = "custom"><%= link_to "Custom-invest", new_custom_invest_path %></li>
          <li id = "loan"><%= link_to "Liability", new_liability_path %></li>
          <li id = "property"><%= link_to "Real-estate", new_real_estate_path %></li>
        </ul>
      </li>
    </ul>

    <%# <button class="search" type="button">search
    </button> %>
  </nav>
</header>
<main class="main">
  <nav class="nav-offset">
    <div class="overlay"></div>
      <ul>
        <li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= image_tag "https://res.cloudinary.com/dezfv3vmn/image/upload/v1670506228/development/MI_xerwzg.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              </li>
              <li class="nav-item dropdown">
                Sebastien SAUNIER
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link dropdown-item" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
        </li>
    </ul>
  </nav>
</main>
