<div class="dashboard">
  <div class="left">
      <div class="diag mychart1">
        <canvas id="myChart"

        data-custom=<%= ((CustomInvest.all_gain.to_f / User.all_gain.round.to_f)*100).to_f.round(2) %>
        data-bank=<%= ((BankAccount.all_bank.to_f / User.all_gain.round.to_f)*100).to_f.round(2) %>
        data-crypto=<%= ((Crypto.all_gain.to_f / User.all_gain.round.to_f)*100).to_f.round(2) %>
        data-realestate=<%= ((RealEstate.all_estimation / User.all_gain.round.to_f)*100).to_f.round(2)%>

        >
        </canvas>
      </div>
    </div>
  <div class="right">
    <div class="blocks">
      <div class="block">
        <h5>GROSS Wealth</h5>
        <h6><%= User.all_gain.round %> $</h6>
        <p>Cryptomonnaie : <%= Crypto.all_gain.round(2) %> $</p>
        <p>Real Estate : <%= RealEstate.all_purchase_price %> $</p>
        <p>Custom Invest : <%= CustomInvest.all_actual_cost %> $</p>
        <p>Bank Account : <%= BankAccount.all_bank %> $</p>
      </div>
      <div class="block">
        <h5>Liabilities</h5>
        <h6><%= Liability.all_gain.round(2) %> $</h6>
        <p><% @liabilities.each do |liability| %></p>
         <p> <%= liability.loan_name %> : <%= liability.amount %>  $</p>
          <% end %>
      </div>
      <div class="block">
        <h5>NET Worth</h5>
        <h6><%= User.all_gain.round - Liability.all_gain.round(2) %> $</h6>
        <p>Total Brut : <%= User.all_gain.round %> $</p>
        <p>Liability : -<%= Liability.all_gain.round(2) %> $</p>
      </div>
    </div>
    <div class="mychart2">
        <canvas id="myChart2" data-controller="donut"
        data-custom=<%= CustomInvest.all_gain %>
        data-bank=<%= BankAccount.all_bank %>
        data-crypto=<%= Crypto.all_gain %>
        data-real=<%= RealEstate.all_gain %>
        >
        </canvas>
    </div>
  </div>
</div>
