<div class="container">
  <div class="row">
    <div class="col">
      <article>
        <h1>Adresse: <%= @real_estate.address %></h1>
          <p>Description: <%= @real_estate.description %></p>
          <p>Type de bien: <%= @real_estate.type_of %></p>
          <p>Categorie: <%= @real_estate.category %></p>
          <p>Prix d'achat: <%= @real_estate.purchase_price %>€</p>
          <p>Surface habitable: <%= @real_estate.floor_space %>m²</p>
          <p>Année de construction: <%= @real_estate.year_of_construction %></p>
          <p>Date d'achat: <%= @real_estate.date_of_purchase %></p>
              <%= link_to "Modifier", edit_real_estate_path(@real_estate) %>
              <%= link_to 'Supprimer', real_estate_path(@real_estate), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce bien ?" }  %>
              <%= link_to "Immobilier", real_estates_path  %>
        </article>
        <%= cl_image_tag @real_estate.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
</div>
