

<%# CRYPTO BANDEAU %>
  <marquee>
    <div class="crypto-news-feed">
      <% @response.each do |response| %>
        <p><div class ="crypto-news-feed-symbol"><%= response["symbol"] %>=</div>
        <div class = "crypto-news-feed-last"><%= response["last"].to_f.round(2) %>$</div>
        <div class = "crypto-news-feed-daily_change_percentage">24H  = <span class = <%= response["daily_change_percentage"].to_f.round(2) >= 0 ? "crypto-pos" : "crypto-neg"  %>  ><%= response["daily_change_percentage"].to_f.round(2) %>%</span></div></p>
      <% end %>
    </div>
  </marquee>


<div class="container" id="crypto">
<%# INDEX INFOS %>
  <div class="en-tete">
    <h1>My cryptos</h1>
  <%= link_to "Add a wallet", new_crypto_path, class: "" %>

<div class = "container" id = "crypto-index">
<%# INDEX CRYPTO %>
<% @total = 0 %>

    <% @cryptos.each do |crypto| %>
      <div class = "crypto">
        <div class = "crypto-name"><%= link_to crypto.name, "#", class: "crypto_id" %></div>
        <div class = "crypto-amount"><% wallet_amount = crypto.quantity * @crypto_sorted["ethereum"]["usd"].to_i  %></div>
        <div class = "crypto-total"><% @total += wallet_amount %></div>
        <p><%= crypto.quantity.round(2) %> ETH    <%= wallet_amount.round(2)  %> $</p>
        <div class = "crypto-link">
        <%= link_to "Edit", edit_crypto_path(crypto), class:""  %>
        <%= link_to 'Delete', crypto_path(crypto) ,  data: { method: :delete, confirm: "Are you sure ?" }  %>
        </div>
      </div>
    <% end %>


</div>
    <h3>Total = <%= @total.round(2) %>$</h3>
  </div>

<%# CLASSEMENT CRYPTO %>
  <table class="table">
    <thead>
      <tr class = "colonne-tableau">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price($USD)</th>
        <th scope="col">Market Cap ($USD)</th>
        <th scope="col">24h Volume ($USD)</th>
        <th scope="col">24h Variation</th>
      </tr>
    </thead>
    <tbody>
  <% @crypto_sorted.keys.each_with_index do |key, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= key.capitalize %> </td>
        <td> <%= @crypto_user[key]["usd"] %>$</td>
    <td> <%= @crypto_user[key]["usd_market_cap"].to_f.round(2) %> </td>
    <td> <%= @crypto_user[key]["usd_24h_vol"].to_f.round(2) %> </td>
    <td> <span class = <%= @crypto_user[key]["usd_24h_change"].to_f.round(2) >= 0 ? "crypto-pos" : "crypto-neg"  %>><%= @crypto_user[key]["usd_24h_change"].to_f.round(2) %> %</span></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
