<%# CRYPTO BANDEAU %>
  <marquee>
    <div class="crypto-news-feed">
      <% @response.each do |response| %>
        <p><div><%= response["symbol"] %>=</div>
        <div><%= response["last"].to_f.round(2) %>$</div>
        <div>24H%=<%= response["daily_change_percentage"].to_f.round(2) %></div></p>
      <% end %>
    </div>
  </marquee>

<%# INDEX INFOS %>
  <div class="en-tete">
    <h1>Mes cryptos</h1>

<%# INDEX CRYPTO %>
<% @total = 0 %>
  <div class="crypto-index">
    <% @cryptos.each do |crypto| %>
      <div>
        <%= link_to crypto.name, crypto_path(crypto), class: "crypto_id" %>
        <% wallet_amount = crypto.quantity * @crypto_sorted["ethereum"]["usd"].to_i  %>
        <% @total += wallet_amount %>
        <p><%= wallet_amount.round(3)  %>$</p>

      </div>
        <%= link_to "Edit", edit_crypto_path(crypto), class:""  %>
        <%= link_to 'Delete', crypto_path(crypto) , class:"", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }  %>
    <% end %>
  </div>
  <%= link_to "Ajouter un nouveau wallet", new_crypto_path, class: "" %>

    <p>Total<%= @total %>($)</p>
  </div>

<%# DIAGRAMME CRYPTO %>
  <div class="crypto-donut">
    <%# donut %>
  </div>

<%# CLASSEMENT CRYPTO %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price($USD)</th>
        <th scope="col">Market Cap ($USD)</th>
        <th scope="col">24h Volume ($USD)</th>
        <th scope="col">24h Variation  (%)</th>
      </tr>
    </thead>
    <tbody>
  <% @crypto_sorted.keys.each_with_index do |key, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= key %> </td>
        <td> <%= @crypto_user[key]["usd"] %> </td>
    <td> <%= @crypto_user[key]["usd_market_cap"] %> </td>
    <td> <%= @crypto_user[key]["usd_24h_vol"] %> </td>
    <td> <%= @crypto_user[key]["usd_24h_change"] %> </td>
      </tr>
  <% end %>
    </tbody>
  </table>
